@import "tailwindcss";

body {
  overflow-x: hidden;
}

@theme {
  --color-primary: #2c8535;
  --color-back: #000;
  --color-grow: #fff;
  --color-accent: #ccc;
}

.nav,
.navA {
  border-radius: 5px;
  letter-spacing: 0.5px;
  padding: 2px 10px 4px;
  font-weight: 600;
  transition: all 0.3s;
}
.navA {
  background: #2c8535;
  color: #fff;
}

.trans{
  transition: all .3s;
}